@import "app.scss";


.game-list__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;

  width: 100%;
}

.game-list__game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 24px;
  background-color: $game-container-bg-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  // min-width: 861px;
  height: auto;
}

.game-list__image-container {
  margin: 1rem;

  .game-list__image {
    width: 205px;
    height: 205px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
  }
}

.game-list__title-container {
  #game-list__title {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  width: 100%;


  .game-list__rating {
    margin-left: 0;
    padding: 0.8rem;
    border-radius: 12px;

    font-weight: bold;
    font-size: 1.5rem;
  }

  .game-list__rating.default {
    background: #1d1d1d;
    color: #fff;
  }

  .game-list__rating.gutter-trash {
    background: #404140 !important;
    color: $primary-text-color !important;
  }

  .game-list__rating.terrible,
  .game-list__rating.utterly-bad {
    background: #c50010 !important;
    color: $primary-text-color !important;
  }

  .game-list__rating.quite-disappointing,
  .game-list__rating.below-average {
    background: #fc9803 !important;
    color: $primary-text-color !important;
  }

  .game-list__rating.average {
    background: #ebd300 !important;
  }

  .game-list__rating.quite-decent {
    background: #8fcc02 !important;
  }

  .game-list__rating.pretty-good {
    background: #00c50a !important;
  }

  .game-list__rating.awesomesauce {
    background: #9700c5 !important;
  }

  .game-list__rating.masterpiece {
    background: #00abee !important;
  }
}

.game-list__price-container {
  text-align: center;
}

.game-list__platforms {
  :first-child {
    margin-left: 0;
  }
  margin-bottom: 1em;;
}

.game-list__platform {
  border: 1px solid $primary-background-color;
  background-color: $primary-text-color;
  color: $primary-background-color;
  border-radius: 8px;
  padding: 0.2em 0.3rem;
  margin: 0 0.25rem;

  font-weight: 400;
  font-size: 0.65rem;
}

.game-list__genres {
  #game-list__genre {
    font-size: 0.8em;
    font-style: italic;
  }
}

.game-list__playtime-rating {

  #game-list__released{
    font-size: 0.8em;
    font-style: italic;
  }

  #game-list__playtime {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 5px;

    background-color: $primary-text-color;
    color: $primary-background-color;
  }
}

.game-list__actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  .game-list__rating-container {
    margin: 2rem;
  }

  .game-list__button-container {
    margin-top: 2rem;

    .game-list__button {
      // padding: 0.85rem;
      border-radius: 30px;
      font-size: 0.9rem;
      font-weight: bold;
      width: 100%;
      height: 51px;
      background-color: $primary-text-color;
      color: #1d1d1d;
      cursor: pointer;

      a {
        text-decoration: none;
      }
      a h3, a span {
        color: $button-text-color !important;
      }

      &:hover {
        color: $button-bg-color;
        background-color: $button-text-color;
        transition: 0.2s ease-in-out;
  
         a h3, a span {
           color: $button-bg-color !important;
         }
      }
  
      &:active {
        &:active {
          transform: scale(0.95); /* add scale transform */
          color: $button-bg-color;
          background-color: $button-click-positive;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


  // Media Queries
  @media (max-width: $mobile) {
    // Styles for mobile devices
    .game-list__container {
      flex-direction: column;
    }

    .game-list__container .game-list__game-container {
      flex-direction: column;
      display: flex;

      padding: 0;
      border-radius: 24px;
      height: auto;

      .game-list__title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 2rem;

        margin-bottom: 0.5rem;
      }

      .game-list__platforms {
        margin-bottom: 0.5em;;
      }

      .game-list__image-container {
        margin: 0;
        min-width: 100%;
        min-height: 100%;

        .game-list__image {
          width: 100%;
          height: 100%;
          border-radius: 10px 10px 0px 0px;
        }
      }

      .game-list__main-container {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .game-list__actions-container {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 1rem 1rem 1rem;
        gap: 2rem;

        width: 100%;

        .game-list__button-container {
          margin-top: 0;
          width: 65%;

          .game-list__button a h3 {
               margin: 0.25em 0 !important;
             }
          }

          .game-list__description p {
            margin-bottom: 0;
          }
        }

        .game-list__rating-container {
          margin: 0rem;
        }
      }
  }

  @media (min-width: $tablet) {
    // Styles for tablet devices
    .game-list__container {
      align-items: flex-start;
      justify-content: space-evenly;
    }

    .game-list__game-container {
      flex-direction: column;
    }
    .game-list__container .game-list__game-container {
      width: 44%;

      .game-list__title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 2rem;

        margin-bottom: 0.5rem;
      }

      .game-list__platforms {
        margin-bottom: 0.5em;;
      }

      .game-list__image-container {
        margin: 0;
        min-width: 100%;
        min-height: 100%;

        .game-list__image {
          width: 100%;
          height: 100%;
          border-radius: 10px 10px 0px 0px;
        }
      }

      .game-list__main-container {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .game-list__actions-container {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 1rem 1rem 1rem;
        gap: 2rem;

        width: 100%;

        .game-list__button-container {
          margin-top: 0;
          width: 65%;

          .game-list__button a h3 {
               margin: 0.25em 0 !important;
             }
          }

          .game-list__description p {
            margin-bottom: 0;
          }
        }

        .game-list__rating-container {
          margin: 0rem;
        }
      }
  }

  @media (min-width: $desktop) {
    .game-list__container .game-list__game-container {
      width: 30%;
    }
  }

  @media (min-width: $large-desktop) {
    // Styles for large desktop devices
  }