@import "app.scss";

.game-details__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 1rem;
}

.game-details__game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.game-details__image {
    width: 250px;
    height: 250px;
}

  // Media Queries
  @media (max-width: $mobile) {
    .game-details__game-container {
        flex-direction: column;
    }

    .game-details__image-container {
        min-width: 250px;
        min-height: 250px;
        width: 250px;
        height: 250px;

        .game-details__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
        }
    }

    .game-details__details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 1rem;

        .game-details__title-container {
            text-align: center;

            h2 {
                margin-bottom: $title-mb;
                font-size: $heading-font-size;
            }
        }

        .game-details__info-container {
            font-family: $font-family-body;
            font-weight: $font-weight-regular;

            span {
             font-style: $font-style-italic;
             font-size: $sub-info-font-size;
            }
        }

        .game-details__platforms-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            & .game-details__platforms {
                border: 1px solid $primary-background-color;
                background-color: $primary-text-color;
                color: $primary-background-color;
                border-radius: 8px;
                padding: 0.2em 0.3rem;
                margin: 0.25rem;
              
                font-weight: 400;
                font-size: 0.75rem;
            }
        }
    }
  }

  @media (min-width: $tablet) {
    // Styles for tablet devices
  }

  @media (min-width: $desktop) {
    // Styles for desktop devices
  }

  @media (min-width: $large-desktop) {
    // Styles for large desktop devices
  }