@import "app.scss";

.game-details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  width: 100%;
  margin: 1rem;
}

.game-details__game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 24px;
  background-color: $game-container-bg-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.game-details__image {
  width: 250px;
  height: 250px;
}

.game-list__button {
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  height: 51px;
  background-color: $primary-text-color;
  color: #1d1d1d;
  cursor: pointer;

  a {
    text-decoration: none;
  }
  a h3,
  a span {
    color: $button-text-color !important;
  }

  &:hover {
    color: $button-bg-color;
    background-color: $button-text-color;
    transition: 0.2s ease-in-out;

    a h3,
    a span {
      color: $button-bg-color !important;
    }
  }

  &:active {
    &:active {
      transform: scale(0.95); /* add scale transform */
      color: $button-bg-color;
      background-color: $button-click-positive;
      transition: 0.2s ease-in-out;
    }
  }
}

.game-details__description-container {
  padding: 1rem;
  border-radius: 24px;
  background-color: $game-container-bg-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.game-details__videos-container {
  width: 100%;
  padding: 1rem;
  border-radius: 24px;
  background-color: $game-container-bg-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  .game-details__tabs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
  }

  .game-details__video-container {
    .game-details__trailers-container,
    .game-details__reviews-container {
      iframe {
        height: 200px !important;
      }
    }
  }
}

.game-details__screenshots-container {
  padding: 1rem;
  border-radius: 24px;
  background-color: $game-container-bg-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

// Media Queries
@media (max-width: $mobile) {
  .game-details__game-container {
    flex-direction: column;
    padding: 0;
  }

  .game-details__image-container {
    min-width: 350px;
    min-height: 205px;
    margin: 0;

    .game-details__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 12px 12px 0 0;
    }
  }

  .game-details__details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;

    .game-details__title-container {
      text-align: center;

      h2 {
        margin: $title-mb;
        font-size: $heading-font-size;
      }
    }

    .game-details__rating-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .game-details__info-container {
      font-family: $font-family-body;
      font-weight: $font-weight-regular;

      span {
        font-style: $font-style-italic;
        font-size: $sub-info-font-size;
      }
    }

    .game-details__platforms-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      & .game-details__platforms {
        border: 1px solid $primary-background-color;
        background-color: $primary-text-color;
        color: $primary-background-color;
        border-radius: 8px;
        padding: 0.2em 0.3rem;
        margin: 0.25rem;

        font-weight: 400;
        font-size: 0.75rem;
      }
    }

    .game-details__price-container {
      .game-list__button a h3 {
        margin: 0.25em 0 !important;
      }
    }
  }

  .game-details__link-container {
    width: 100%;
  }
}

.game-details__videos-container {
  min-height: 340px;

  .game-details__video-container {
    iframe {
      height: 200px !important;
    }

    .game-list__video-container__button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 1rem;

      .game-list__button {
        width: 75%;
        height: 45px;
      }
    }
  }
}

.game-details__screenshots-container {
  width: 100%;

  & .game-details__screenshots {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 12px;
    }
  }
}

@media (min-width: $tablet) {
  .game-details__game-container {
    flex-direction: row;
    justify-content: flex-start;

    padding: 0;
  }

  .game-details__image-container {
    height: 254px;
    width: 50%;
    border-radius: 24px 0 24px 0;
    margin: 0 2em 0 0;

    .game-details__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 24px 0 0 24px;
    }
  }

  .game-details__title-container {
    h2 {
      margin: 0.5rem 0;
    }
  }

  .game-list__rating-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .game-details__info-container {
    margin: 0.5rem 0;
  }

  .game-details__platforms-container {
    margin: 1rem 0;
  }

  .game-details__price-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    .game-list__button {
      h3 {
        margin: 0;
      }
      width: 75% !important;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .game-details__videos-container {
    padding: 0;

    .game-details__video-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      iframe {
        height: 365px !important;
        width: 650px !important;
      }

      .game-list__video-container__button-container {
        width: 100%;

        .game-list__button {
          margin: 1rem 0;
          width: 50% !important;
        }
      }
    }
  }

  .game-details__screenshots-container {
    padding: 0;

    .game-details__screenshots {
      .carousel-root {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;

        .carousel.carousel-slider {
          width: 90%;
        }
      }
    }
  }

}

@media (min-width: $desktop) {
  // Styles for desktop devices
}

@media (min-width: $large-desktop) {
  // Styles for large desktop devices
}
