@import 'app.scss';

.search-bar__container {
  display: flex;
  align-items: center;
  margin: 0.5rem;

  input {
    flex: 1;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background: transparent;
    font-family: 'Roboto';
    font-size: 1.3rem;
    color: #FFF;
    padding: 0.5rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 3px $primary-background-color;
    }
  }

  button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0 10px 10px 0;
    border: none;
    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    background: $primary-background-color;
    color: $primary-text-color;

    &:hover {
      background: $primary-text-color;
      color: $primary-background-color;
      transition: 0.2s ease-in-out;
    }
  }
}
